<div class="container">
    <div class="welcome">
        <h2>My events</h2>
    </div>

    {{> eventsMenu}}
    <div class="col-events">
        {{> eventPersonalList}}
    </div>
    <div class="welcome">
        <h2>Other events</h2>
    </div>
    <div class="col-events">
        {{> eventListAll}}
    </div>
</div>