<h2>Event list</h2>
{{#each data}}
<div class="eventcontainer">
    <ul class="listevent">

        <li class="titleevent"> {{this.name}} </li>

        <li class="locationevent">{{this.location}}</li>
        <h4><a class="btn" href="/events/edit/{{this.id}}">EDIT</a></h4>

    </ul>




</div>
{{/each}}
<a class="btn" href="/events/add">Add Event</a>