<div class="eventcontainer">
    <ul class="listevent">

        <li class="titleevent"> {{data.name}} </li>

        <li class="locationevent">{{data.provincia}}</li>

        <li class="locationevent">{{data.dateInit}}</li>

        <li class="locationevent">{{data.dateEnd}}</li>
    </ul>




</div>

<a class="btn" href="/events">Back</a>