<div class="eventcontaineradd">

    <form action="add" method="post">

        <label for="name"> Name</label>
        <input type="text" name="name" id="">
        <label for="name"> Description</label>
        <input type="text" name="description" id="">

        <label for="name"> Location</label>
        <input type="text" name="location" id="">


        <button type="submit">Go</button>

        {{error}}
    </form>

</div>