<header class="bg-image">
  <div class="container">
    <div class="welcome">
      <h2>This are your events you like</h2>
      {{> menu}}
    </div>
  </div>
</header>

<section class="container">

  <div class="welcome container-like">
    <h3>Event List</h3>
  </div>

  <div class="col-events">
    {{#if data}}

    {{> eventListAll}}

    {{else}}
    <div class="emtpy-events">
      <p>You have not given any LIKE for an event.</p>
    </div>
    {{/if}}
  </div>
</section>

{{> footer}}