<div class="wrapper login ">
    <form class="loginparent" action="/login" method="post">
        <h1>AI - login</h1>
        <input class="loginitem" type="text" name="username" id="" placeholder="username or email">

        <input class="loginitem" type="password" name="password" id="" placeholder="password">

        <input class="logbtn" type="submit" value="LOGIN">
        {{title}}
    </form>

    <div class="bottom-text-l">
        <a href="/">Home</a>
    </div>
    <div class="bottom-text-r">
        <a href="/signup">Sign up </a>
    </div>
    <div class="face-recognition">
        <input type="image" src="/images/face-id.png" />
    </div>
</div>