<form class="loginparent" action="/login" method="post">

    <label class="loginlabel" for="username">User</label>
    <input class="loginitem" type="text" name="username" id="">



    <label class="loginlabel" for="password">Password</label>
    <input class="loginitem" type="password" name="password" id="">

    <input class="logbtn" type="submit" value="GO">
    {{title}}
</form>

<div class="loginparentlittle">

    <a href="/signin">Sign in </a>

</div>