<div class="wrapper login">
    <form class="loginparent" action="/signup" method="post">
        <h1>AI - Sign up</h1>
        <input class="loginitem" type="text" name="username" id="" placeholder="username">

        <input class="loginitem" type="text" name="email" id="" placeholder="email">

        <input class="loginitem" type="password" name="password" id="" placeholder="password">

        <input class="logbtn" type="submit" value="Sign up">
        {{title}}
    </form>

    <div class="bottom-text-l">
        <a href="/">Home</a>
    </div>
    <div class="bottom-text-r">
        <a href="/login">Login</a>
    </div>
    <div class="face-recognition selfie photo">
        <input type="image" src="/images/camera.png" />
    </div>
</div>

{{!-- <div class="wrapper">
    <form class="loginparent" action="/signin" method="post">

        <input class="loginitem" type="text" name="username" id="" placeholder="username">

        <input class="loginitem" type="text" name="email" id="" placeholder="email">

        <input class="loginitem" type="password" name="password" id="" placeholder="password">

        <input class="logbtn" type="submit" value="GO">
        {{title}}
    </form>
</div>

<div class="bottom-text">
    <a href="/login">Login to enter</a>
</div>
<div class="face-recognition selfie">
    <input type="image" src="/images/camera.png" />
</div> --}}