{{!-- <form action="" method="post">
  <a href="/events/likes/{{data.id}}">
    <i class="fa fa-heart-o"></i>
  </a>

</form> --}}

<form action="/events/like/{{this.id}}" method="post">
  {{!-- {{#if data.likes }} --}}


  <button type="submit">
    <i class="fa fa-heart-o"></i>
  </button>
  {{!-- {{#else}} --}}
  {{!-- <a href="/events/likes/{{data.id}}">
    <i class="fas fa-heart"></i>
  </a> --}}
  {{!-- {{/end}} --}}
</form>