<div class="icon">
  <a href="/events/edit/{{data.id}}" class="edit"><i class="fas fa-pencil-alt"></a>
</div>

{{!-- <i class="fas fa-pencil-alt">
  {{!-- <a href="/events/edit/{{data.id}}">
  </a> 


</i> --}}