<ul class="menu">

  <li title="home"><a href="/" class="menu-button home">menu</a></li>

  <li title="search"><a href="/finder" class="search">search</a></li>
  <li title="edit"><a href="/events/add" class="add">Add</a></li>
  <li title="profile"><a href="/profile/{{title}}" class="profile">profile</a></li>
  <li title="like"><a href="/events/likes" class=" like">like</a></li>
</ul>

<ul class="menu-bar">
  <li><a href="#" class="menu-button">Menu</a></li>
  <li><a href="/events/add>Add</a></li>
  <li><a href=" /profile/{{title}}">Profile</a></li>
  <li><a href="/events/likes">Like</a></li>
</ul>