<footer>
  <div class="container">
    <ul>
      <li><a href="#">Weblinks</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Mainpage</a></li>
    </ul>
    <p>AI Access System. Ironhack - 2020 -</p>
  </div>
</footer>