<ul class="menu">

  <li title="home"><a href="/" class="menu-button home">menu</a></li>

  <li title="search"><a href="#" class="search">search</a></li>
  <li title="edit"><a href="#" class="edit">edit</a></li>
  <li title="profile"><a href="/profile" class="profile">profile</a></li>
  <li title="like"><a href="#" class="like">like</a></li>
  <li title="signout"><a href="/out" class="signout">signout</a></li>
</ul>

<ul class="menu-bar">
  <li><a href="#" class="menu-button">Menu</a></li>
  <li><a href="#">Edit</a></li>
  <li><a href="/profile">Profile</a></li>
  <li><a href="#">Like</a></li>
  <li><a href="/out">Signout</a></li>
</ul>