<header class="bg-image">
  <div class="container">
    <div class="welcome">
      <h2>Welcome {{title}}</h2>
    </div>

    {{> menu}}
  </div>
</header>

<section class="container">
  {{#if title}}
  <a href="/events" class="btn">your Events!</a>

  {{/if}}

  <div class="welcome-index">
    <h3>Event List</h3>
  </div>
  <div class="col-events">
    {{> eventListAll}}
  </div>

</section>

{{> footer}}