<header class="bg-image">
  <div class="container">
    <h2>Welcome {{title}}</h2>

    {{> menu}}
  </div>
</header>

<section class="container">
  {{#if title}}
  <a href="/events" class="btn">your Events!</a>

  {{/if}}
  <div>
    <h3>Event List</h3>
    <p>{{event.name}}</p>

  </div>
  <div class="col-events">
    <div class="col-events">
      {{!-- {{> events}} --}}
    </div>
</section>

<footer>
  <div class="container">
    <ul>
      <li><a href="#">Weblinks</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Mainpage</a></li>
    </ul>
    <p>AI Access System. Ironhack - 2020 -</p>
  </div>
</footer>