@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative);
@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css");

body {
  position: relative;
  left: 4.2rem;
  margin: 0;
  padding: 0;
  width: 95%;
  height: 100%;
  font-size: 100%;
  line-height: 1.45;
  color: #141414;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(230, 226, 226, 0.4);
  -webkit-background-size: cover;
  background-size: cover;
  font-family: poppins;
}

* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  margin: 1rem 0;
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  background: #1c262b;
  letter-spacing: 0.02em;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1rem 0.9rem;
  text-shadow: 0 1px rgba(black, 0.3);
  box-shadow: 0 0 2px rgba(black, 0.2);
}

.btn:hover {
  background: lighten(#1c262b, 5%);
  color: #fff;
}

.btn:focus,
active,
focus:active {
  background: darken(#1c262b, 5%);
  border-color: darken(#1c262b, 5%);
  box-shadow: 0 2px 5px 0 rgba(black, 0.5) inset;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 0;
  width: 90%;
  max-width: 900px;
  padding: 0 0 0 3rem;
}

.container h3 {
  font-size: 2rem;
}

header {
  color: white;
  background: #1c262b;
  padding: 10rem 0;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

header h1 {
  font-size: 3rem;
  margin: 0 0 1rem;
}

header h2 {
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0 0 1rem;
}

.section-primary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.2rem;
  color: #fff;
  padding: 2rem;
}

.section-grey {
  background: #1c262b;
  color: #fff;
}

.section-grey-light {
  background: #1c262b;
  color: #fff;
}

.section-primary h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 1rem;
}

.section-primary ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-primary li {
  font-size: 1.2rem;
  font-weight: 300;
}

.section-primary p {
  font-size: 1.2rem;
  font-weight: 300;
}

.col {
  margin: 0 1.5%;
  display: inline-block;
  vertical-align: top;
}

.col-events {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.details {
  text-align: left;
}

.details h3 {
  font-size: 2rem;
  text-align: left;
}

.features:last-child {
  border: none;
}

.features:hover {
  background: rgba(white, 0.1);
}

.features i {
  font-size: 4rem;
  margin: 0 0 2rem 0;
}

.features p {
  margin: 0 0 1rem 0;
  font-size: 1rem;
}

blockquote {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
}

blockquote:before {
  display: inline-block;
  color: #1c262b;
  font-size: 2rem;
  content: "\201C";
}

blockquote p {
  margin: 0;
  display: inline;
  font-size: 1.5rem;
}

cite {
  font-size: 1rem;
  display: block;
  margin: 0.5rem 0 0 1.2rem;
  text-style: italic;
}
cite:before {
  content: "–";
}

footer {
  background: #2d2b2a;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
  font-size: 0.8rem;
  color: rgba(white, 0.4);
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer li {
  display: inline-block;
}

footer a {
  display: block;
  padding: 0.4rem 0.7rem;
  font-size: 0.9rem;
  text-decoration: none;
  color: #aaa;
}
footer:hover {
  color: white;
}

.text-left {
  text-align: left;
}
.bg-image {
  background: #1c262b;
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.bg-image:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #333
    url("https://aldianews.com/sites/default/files/styles/article_image/public/articles/bcn_grande_2.jpg?itok=Li3t7aeg")
    no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(5px);
  opacity: 0.8;
  transform: scale(1.1);
}

.bg-image-2:before {
  opacity: 0.6;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/366117/8_copy_copy.jpg");
  background-position: center center;
}
/* ========= login ========= */
/* ========================= */

.title h1,
.login h1 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 8%;
  font-family: "Cinzel Decorative";
}

.title p,
.login p {
  font-family: "Cinzel Decorative", cursive;
  font-size: 1rem;
}

.wrapper {
  width: 400px;
  height: 420px;
  color: #000;
  top: 50%;
  left: 50%;
  padding: 60px 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 8px 8px 50px #000;
}

.wrapper input {
  width: 100%;
  margin-bottom: 20px;
}
.wrapper input[type="text"],
.wrapper input[type="password"] {
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  outline: none;
  height: 30px;
  font-size: 16px;
  opacity: 1;
  color: #ccc;
}
.wrapper input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #f6648b;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.wrapper input[type="submit"]:hover {
  cursor: pointer;
}
.wrapper input::-webkit-input-placeholder {
  color: black;
}
.wrapper a {
  font-size: 14px;
  text-decoration: none;
  opacity: 0.8;
}
.wrapper a:hover {
  color: #ccc;
  opacity: 1;
}
.bottom-text {
  color: #ccc;
}
.bottom-text input {
  width: 10%;
  float: left;
}
.bottom-text-r a {
  float: right;
}

.bottom-text-l a {
  float: left;
}

.face-recognition {
  margin-top: 12%;
  text-align: center;
}
.face-recognition a {
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 5px;
}

.face-recognition input {
  width: 3rem;
}

.selfie {
  margin-top: 44rem;
  text-align: center;
  margin: 1rem;
}

.photo video {
  width: 320px;
  height: 240px;
  margin: 15px;
  float: left;
}

.photo canvas {
  width: 320px;
  height: 240px;
  margin: 15px;
  float: left;
}
